@model IEnumerable<TeaShop.Models.Category>

<div class="na navbar">
    @foreach (var item in Model)
    {
        <div class="navbar navbar-default navbar-fixed-top  text-white">
            <div class="container">
                <a style="text-decoration:none; color:white" asp-area="" asp-controller="Category" asp-action="GetCategoryDetails" asp-route-id="@item.Id">@item.CategoryName</a>
            </div>
        </div>
    }
</div>


